/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	body, html {
		font-size: 12px;
	}

	.blk-50 {
		font-size: 2rem;
	}

	.reg-25 {
		font-size: 1.4rem;
	}

	.main-content {
		margin-left: 0!important;
	}

	.navbar-expand-xs {
		top: 0;
	}

	.sidenav {
		transform: translateX(-400px);
	}

	.nav-open {
		transform: translateX(0);
	}

	.brand-fly{
		transform: translateY(-420px);
	}

	.navbar-brand {
		left: 0;
	}

	.navbar-brand img{
		width: 50%;
	}

	.navbar-inner {
		width: 80%;
	}

	.navbar-expand-xs {
		position: fixed;
		top: 9.375rem;
	}

	.nav-link img {
		width: 2.5rem;
		height: 2.5rem;
	}

	.opacity-on {
		opacity: .5;
	}

	.btn-4 {
		width: 70%;
	}

	.wshop-font {
		font-size: 9rem;
		top: 32rem;
		right: 14px;
	}

	.card-height {
		min-height: auto;
	}

	.checkbox-options {
		width: 100%;
		flex-direction: column;
	}

	/* inhoud starts */
	.inhoud-card {
		padding: 2rem;
	}

	.inhoud-middle {
		flex-direction: column;
		row-gap: 2rem;
	}

	/* winkelmand style */
	.wshop-font {
		font-size: 7rem;
		top: 6rem;
		right: 1rem;
	}

	.modal-3 .modal-body {
		padding: 1rem 2rem;
	}

	.done p {
		padding: 7rem 0;
	}

	/* workshop scherm starts*/
	.lessons {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
		top: 0;
	}

	/* hero starts */
	.hero-left {
		margin-top: 2rem;
		width: 100%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	body, html {
		font-size: 13px;
	}

	.reg-25 {
		font-size: 1.4rem;
	}
	
    .main-content {
		margin-left: 0!important;
	}

	.navbar-inner {
		width: 80%;
	}

	.navbar-expand-xs {
		top: 0;
	}

	.sidenav {
		transform: translateX(-420px);
	}

	.nav-open {
		transform: translateX(0);
	}

	.brand-fly{
		transform: translateY(-420px);
	}

	.navbar-brand img{
		width: 70%;
	}

	.navbar-expand-xs {
		position: fixed;
		top: 150px;
	}

	.opacity-on {
		opacity: .5;
	}

	.btn-4 {
		width: 40%;
	}

	.wshop-font {
		font-size: 14rem;
		top: 14rem;
		right: 4rem;
	}

	.card-height {
		min-height: auto;
	}

	/* inhoud starts */
	.btn-5 {
		width: 50%;
	}

	.b5-md{
		width: 35%;
	}

	.inhoud-middle {
		flex-direction: column;
		row-gap: 2rem;
	}

	.ic-2 {
		width: 60%;
	}

	/* winkelmand style */
	.wshop-font {
		font-size: 12rem;
		top: 5rem;
		right: 1rem;
	}

	/* Profiel starts */
	.ch-2 {
		min-height: 5rem;
	}

	/* workshop scherm starts*/
	.lessons {
		width: 40%;
		margin: 0 auto;
		margin-bottom: 2rem;
		top: 0;
	}

	/* hero starts */
	.hero-left {
		margin-top: 2rem;
		width: 100%;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	body, html {
		font-size: 13px;
	}

	.reg-25 {
		font-size: 1.4rem;
	}

    .main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-420px);
	}

	.nav-open {
		transform: translateX(0);
	}

	.brand-fly{
		transform: translateY(-420px);
	}

	.navbar-brand img{
		width: 70%;
	}

	.navbar-expand-xs {
		position: fixed;
		top: 150px;
	}

	.navbar-inner {
		width: 80%;
	}

	.opacity-on {
		opacity: .5;
	}

	.btn-4 {
		width: 40%;
	}

	.wshop-font {
		font-size: 14rem;
		top: 14rem;
		right: 4rem;
	}

	.card-height {
		min-height: auto;
	}

	/* inhoud starts */
	.btn-5 {
		width: 50%;
	}

	.b5-md{
		width: 35%;
	}

	.inhoud-middle {
		flex-direction: column;
		row-gap: 2rem;
	}

	.ic-2 {
		width: 60%;
	}

	/* winkelmand starts */
	.wshop-font {
		font-size: 12rem;
		top: 5rem;
		right: 1rem;
	}

	/* Profiel starts */
	.ch-2 {
		min-height: 5rem;
	}

	/* workshop scherm starts*/
	.lessons {
		width: 40%;
		margin: 0 auto;
		margin-bottom: 2rem;
		top: 0;
	}

	/* hero starts */
	.hero-left {
		margin-top: 2rem;
		width: 100%;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
	body, html {
		font-size: 12px;
	}

	.reg-25 {
		font-size: 1.4rem;
	}

    .main-content {
		margin-left: 0!important;
	}

	.sidenav {
		transform: translateX(-420px);
	}

	.nav-open {
		transform: translateX(0);
	}

	.brand-fly{
		transform: translateY(-420px);
	}

	.navbar-brand img{
		width: 70%;
	}

	.navbar-expand-xs {
		position: fixed;
		top: 150px;
	}

	.navbar-inner {
		width: 80%;
	}

	.opacity-on {
		opacity: .5;
	}

	.wshop-font {
		font-size: 20rem;
		top: 9rem;
		right: 5rem;
	}

	/* inhoud starts */
	.btn-5 {
		width: 75%;
	}

	.b5-md {
		width: 45%;
	}

	.inhoud-middle {
		flex-direction: column;
		row-gap: 2rem;
	}

	.ic-2 {
		padding: 3rem;
	}

	/* winkelmand style */
	.wink-font {
		top: 0;
		right: 0;
	}
	
	/* review starts */
	.review-card{
		min-height: 29rem;
	}

	/* Profiel starts */
	.ch-2 {
		min-height: 4rem;
	}

	/* hero starts */
	.hero-left {
		margin-top: 4rem;
		width: 100%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    body, html {
		font-size: 12px;
	}

	.reg-25 {
		font-size: 1.4rem;
	}

	.card-height {
		min-height: 6.5rem;
	}

	.navbar-brand img{
		width: 70%;
	}

	.video a .thumb{
		width: 90% !important;
	}

	/* inhoud starts */
	.btn-5 {
		width: 80%;
	}

	/* winkelmand style */
	.wink-font {
		top: 0;
		right: 0;
	}
	
	/* review starts */
	.review-card{
		min-height: 26.95rem;
	}

	/* Profiel starts */
	.ch-2 {
		min-height: 5rem;
	}
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
	
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	body, html {
		font-size: 18px;
	}

	.navbar-expand-xs {
		max-width: 45rem;
	}

	.navbar-inner {
		width: 50%;
	}

	.navbar-brand {
		left: 16rem;
	}

	.main-content {
		margin-left: 40rem;
	}

	.wshop-font {
		right: 15rem;
	}
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.btn-4 {
		width: 90%;
	}

	.navbar-expand-xs {
		top: 8rem;
	}
	
	.wshop-font {
		font-size: 7rem;
		top: 36rem;
		right: 0px;
	}

	/* inhoud starts */
	.btn-5 {
		width: 100%;
	}

	/* winkelmand style */
	.wshop-font {
		font-size: 7rem;
		top: 6rem;
		right: 0;
	}
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	.btn-4 {
		width: 80%;
	}

	.wshop-font {
		font-size: 8rem;
		top: 32rem;
		right: 7px;
	}

	/* winkelmand style */
	.wshop-font {
		font-size: 7rem;
		top: 6rem;
		right: 0;
	}
}

