@font-face {
	font-family: "Blackjack-Regular";
	src: url(../font/BLACKJAR.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #EEEDE9;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.c_custom{
	max-width: 1640px !important;
}

.pt-100{
    padding-top: 6.25rem;
}
/* colors */
.c-tag-0{
	color: #fff;
}

.c-tag-1{
	color: #9BC65A;
}

.c-tag-2{
	color: #D6B3C8;
}

.c-tag-3{
	color: #E9E2E3;
}

.c-tag-4{
	color: #333333 !important;
}

.c-tag-5{
	color: #707070 !important;
}

.c-tag-6{
	color: #000;
}

/* background */
.bg-tag-1{
	background-color: #9BC65A;
}

.bg-tag-2{
	background-color: #FBFBFA;
}

/* fonts */
.q-bold-20{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
	font-weight: 700;
}

.b-reg-40{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
	font-weight: 400;
}

.reg-18{
	font-size: 1.125rem;
	font-weight: 400;
}

.reg-20{
	font-size: 1.25rem;
	font-weight: 400;
    line-height: 1.6875rem;
}

.reg-25{
    font-size: 1.5625rem;
	font-weight: 400;
    line-height: 2.5rem;
}

.reg-30{
    font-size: 1.875rem;
	font-weight: 400;
}

.bold-15{
	font-size: 0.9375rem;
	font-weight: 700;
}

.bold-20{
	font-size: 1.25rem;
	font-weight: 700;
}

.bold-25{
    font-size: 1.5625rem;
	font-weight: 700;
}

.bold-30{
	font-size: 1.875rem;
	font-weight: 700;
}

.blk-20{
	font-size: 1.25rem;
	font-weight: 900;
}

.blk-25{
    font-size: 1.5625rem;
	font-weight: 900;
}

.blk-30{
	font-size: 1.875rem;
	font-weight: 900;
}

.blk-50{
    font-size: 3.125rem;
	font-weight: 900;
}

.bj-reg-40{
    font-family: "Blackjack-Regular";
    font-size: 2.5rem;
	font-weight: 400;
}

.wshop-font {
    font-family: "Blackjack-Regular";
    font-size: 25rem;
    position: absolute;
    top: 8rem;
    right: 8rem;
    color: #E9E2E3;
}

.wink-font {
    top: 0;
    right: 0;
}

.rev-font {
    top: -4rem;
    right: 20rem;
}

/* forms */
.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgb(155 198 90 / 33%);
}

.form-1 .form-control {
    border: 1px solid #707070;
}

/* buttons */
.btn-tag-1{
	border-radius: 0.5rem;
	color: #fff !important;
}

.btn-tag-1:hover{
	background-color: #D6B3C8;
	color: #000 !important;
}

.btn-tag-2{
    border: 1px solid #000;
	border-radius: 1.2rem;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 4px 6px 2px;
	color: #000 !important;
}

.btn-tag-2:hover{
    border: 1px solid transparent;
	background-color: #9BC65A;
}

.btn-tag-2:hover a{
    color: #fff !important;
}

.btn-tag-3{
    border: 1px solid #000;
	border-radius: 2rem;
	color: #000;
}

.btn-tag-3:hover {
    border: 1px solid transparent;
    background-color: #9BC65A;
    color: #fff;
}

.btn-tag-4{
	border-radius: 2rem;
	color: #fff !important;
}

.btn-4 {
    width: 30%;
}

.btn-5 {
    width: 65%;
}

.btn-tag-4:hover{
	background-color: #D6B3C8;
	color: #000 !important;
}

/* modals */
.modal-1 .modal-dialog {
    max-width: 57.125rem;
    margin: 6.5rem auto;
}

.modal-1 .modal-content {
    border-radius: 1rem;
}

.modal-1 .modal-header {
    border-bottom: 0;
}

.modal-1 .modal-body {
    padding: 1rem 4rem;
}

.modal-1 .modal-header .close {
    font-size: 2.5rem;
    padding: 1.2rem 2rem;
    opacity: 1;
}

.modal-2 .modal-dialog {
    max-width: 73.25rem;
    margin: 1rem auto;
}

.modal-2 .modal-body {
    padding: 0;
    border-radius: 1rem;
}

.modal-2 .modal-header .close {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    z-index: 1;
}

.modal-2 .modal-header {
    padding: 0;
}

/* header starts */
.navbar-brand {
    position: absolute;
    top: 0;
    left: 5rem;
    padding: 0;
    margin: 0;
    transition: all .4s ease;
}

.nav-link img {
    width: 3rem;
    height: 3rem;
}

.sidenav {
    z-index: 999;
    transition: all .4s ease;
}

.navbar-expand-xs {
    position: absolute;
    top: 24rem;
    bottom: 0;
    display: block;
    overflow-y: auto;
    width: 100%;
    max-width: 25rem;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    overflow: visible;
    z-index: 3;
}

.navbar-inner{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    padding: 6.25rem 0;
}

.navbar-brand{
    z-index: 3;
}

.main-content {
	position: relative;
    margin-left: 25rem;
}

.content {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.sidenav-toggler {
    cursor: pointer;
}

.sidenav-toggler-dark .sidenav-toggler-line {
    background-color: black;
}

.sidenav-toggler-inner {
    position: relative;
    z-index: 9999;
}

.sidenav-toggler-inner, .sidenav-toggler-line {
    width: 2.5rem;
    transition: all .15s ease;
}

.sidenav-toggler-line {
    position: relative;
    display: block;
    height: 0.375rem;
}

.sidenav-toggler-line:not(:last-child) {
    margin-bottom: 3px;
}

.sidenav-toggler.active .sidenav-toggler-line:first-child {
    width: 2.5rem;
    transform: translateX(5px);
}

.sidenav-toggler.active .sidenav-toggler-line:last-child {
    width: 2.5rem;
    transform: translateX(5px);
}

.sidebar .active{
    background-color: #CFCFCF;
    border: 2px solid transparent;
}

.sidebar .active:hover{
    border: 2px solid #9BC65A;
}

.card-item {
    width: 75%;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
}

.card-item img{
	border-radius: 1.2rem;
}

.card-height {
    min-height: 5rem;
}

.watermark {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.question input, .question select{
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
}

.checkbox-options{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.opt-2{
    width: 25%;
}

.checkbox label {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.checkbox input {
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox label > span {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	border: 2px solid #9e9e9e;
	margin-right: 0.9375rem;
	transition: all .3s;
}

.checkbox input:checked + label > span {
	border: 0.75rem solid #000;
	animation: bounce 250ms;
}

@keyframes checked-box {
	0% {
		width: 0;
		height: 0;
		border-color: #212121;
		transform: translate(0,0) rotate(45deg);
	}
	33% {
		width: 4px;
		height: 0;
		border-color: #212121;
		transform: translate(0,0) rotate(45deg);
	}
	100% {
		width: 4px;
		height: 8px;
		border-color: #212121;
		transform: translate(0,-8px) rotate(45deg);
	}
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(.7);
	}
	100% {
		transform: scale(1);
	}
}

.dropdown-wrapper {
    overflow: hidden;
    position: relative;
}

.dropdown-wrapper:after {
    content: "▼";
    font-size: 0.8rem;
    pointer-events: none;
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
    z-index: 1;
}
  
.dropdown-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}
  
.dropdown-wrapper select::-ms-expand {
    display: none;
}

/* inhoud starts */
.inhoud-card{
    background-color: #fff;
    width: 100%;
    border-radius: 1.2rem;
    padding: 4rem;
}

.ic-2 {
    width: 90%;
    border-radius: 3rem;
    margin: 0 auto;
}

.ic-3 {
    padding: 10rem 4rem;
}

.inhoud-middle{
    display: flex;
    justify-content: space-between;
}

.video-button img {
	border-radius: 1.2rem;
}

.video-img-bg {
	display: block;
	position: relative;
}

.video-img-bg .play-button {
	position: absolute;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: rgba(179, 182, 200, 0.51);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.video-img-bg .play-button img {
	padding: 1.625rem;
}

/* winkelmand starts */
.wink{
    background-color: #F8F7F7;
	border-radius: 1.2rem;
}

.pos-r0 {
    background-color: #C9E1EA;
    position: absolute;
    right: 0;
	border-radius: 1.2rem 0 0 1.2rem;
    padding: 4rem 2rem;
}

#step-two{
    display: none;
}

.done p{
    padding: 8.5rem;
}

/* reviews */
.review-card{
	border: 0.1875rem solid #9BC65A;
    padding: 3rem;
	border-radius: 1.2rem;
}